@model DUPL_Practical_Exam.ViewModel.ReportRange
@{
    ViewBag.Title = "Index";
    var i = 0;
}

<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("GetReport", "Reports", FormMethod.Post, new { id = "frm" }))
        {       
            <div class="form-group row">
                <div class="col-3 offset-2 mb-1">

                    @Html.LabelFor(x => x.FromDate)
                    <div class="input-group date ">

                        @Html.TextBoxFor(x => x.FromDate, new { @class = "form-control", @id = "FromDate" })
                        <button class="btn btn-outline-secondary" onclick="showFromDatePicker()" type="button" id="button-addon2"><span class="bi bi-calendar3"></span></button>
                    </div>
                    @Html.ValidationMessageFor(x => x.FromDate, "", new { @class = "text-danger", style = "font-size:small" })


                </div>
                <div class="col-2"></div>
                <div class="col-3 mb-1">
                    @Html.LabelFor(x => x.ToDate)
                    <div class="input-group date">

                        @Html.TextBoxFor(x => x.ToDate, new { @class = "form-control", @id = "ToDate" })
                        <button class="btn btn-outline-secondary" onclick="showToDatePicker()" type="button" id="button-addon2"><span class="bi bi-calendar3"></span></button>
                    </div>
                    @Html.ValidationMessageFor(x => x.ToDate, "", new { @class = "text-danger", style = "font-size:small" })
                </div>
            </div>



        }
    </div>
</div>
@if (Model !=null)
{
    <div class="row">
        <div class="col-12">
            <h3>Result</h3>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>SL</th>
                        <th>Date</th>
                        <th>Book Name</th>
                        <th>Author Name</th>
                        <th>Quantity</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var b in Model.Books)
                    {
                        <tr>
                            <td>@(++i)</td>
                            <td>@b.Date.ToString("dd-MM-yyyy")</td>
                            <td>@b.BookName</td>
                            <td>@b.AuthorName</td>
                            <td>@b.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6 offset-3">
            <div class="d-flex justify-content-center btn-group">
                <a target="_blank" href="@Url.Action("GetPdf", "Reports", new {from=Model.FromDate, to=Model.ToDate} )" class="btn btn-primary btn-sm mr-2"><i class="bi bi-file-earmark-pdf"></i> Download Pdf</a>
                <a target="_blank" href="@Url.Action("GetExcel", "Reports", new {from=Model.FromDate, to=Model.ToDate} )" class="btn btn-warning btn-sm mr-2"><i class="bi bi-file-earmark-spreadsheet"></i> Download Excel</a>
                <button type="button" id="refreshButton" class="btn btn-success btn-sm"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
            </div>
        </div>
    </div>
}


@section styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="~/Content/bootstrap-datepicker3.standalone.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $('#FromDate, #ToDate').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });
        });
        function showFromDatePicker() {
            $("#FromDate").datepicker('show')
        }

        function showToDatePicker() {
            $("#ToDate").datepicker('show')
        }
        $("#FromDate").change(() => {
            var valid = $("#frm").valid();
            if (valid) $("#frm").submit();
        });
        $("#ToDate").change(() => {
            var valid = $("#frm").valid();
            if (valid) $("#frm").submit();
        });   
        $('#refreshButton').click(function () {
            // Redirect to the Reports Controller's Index page
            window.location.href = '/Reports/Index'; 
        });
   
    </script>
}



